.phonen {
  color: #b2b2b2;
  font-size: 12px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer_list1 {
    display: flex;
    
  
    display: flex;
    flex-direction: column;
    


}
.footer_list {
    display: flex;
    flex-direction: row;
    color: var(--text-primary, #111238);
font-size: 16px;
font-family: Fira Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer_title {
    color: var(--text-primary, #111238);
font-size: 16px;
font-family: Fira Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h5 {
    color: var(--inputs-grey, #B2B2B2);
    font-size: 12px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    width: 166px;
}

.logo_explanation {
    width: 131.469px;
    height: 30px;
    display: flex;
    flex-direction: column;
}

