.cards_vacancies {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #fff;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards > h2 {
  color: #111238;
  text-align: center;
  font-size: 18px;
  font-family: Fira Sans;
  font-weight: 700;
}
.frontend {
  color: #111238;
  text-align: center;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 700;
  margin: -5px;
  text-align: center;
}
.placeofwork {
  color: #111238;
  text-align: center;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: -9px;
}
.price {
  height: 39px;
  width: 107px;
  border: none;
  display: inline-flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;

  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-family: Fira Sans;
  font-weight: 600;
  border-radius: 5px;
  background: #1a75e8;
}
.cards_vacancies > li {
  display: flex;
  width: 290px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  color: #b2b2b2;
  font-size: 14px;
  font-family: Fira Sans;
  border-radius: 10px;
  border: 1px solid #c5c9d4;
}
.cards_vacancies > svg {
  padding: 30px 95px;
}

.requir {
  color: #b2b2b2;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;
  padding: 0 99px 15px;
}
.vacancies_btn {
  height: 27px;
  width: 58px;

  border-radius: 5px;
  border: 1px solid #b2b2b2;
}
.ul_vacancies {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link_toreadmore {
  color: #1a75e8;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
